<div class="services-content py-5">
    <div class="content">
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/electrical.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات الکتریکی</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/plumbing.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات لوله کشی</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/painting.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات نقاشی</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/heating.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات گرمایشی</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/gardening.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات باغبانی</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="#" class="text-decoration-none">
                    <div class="card">
                        <img src="./../../assets/images/maintenance.jpg" alt="">
                        <div class="card-body">
                            <p class="card-title text-center">خدمات تعمیرات منزل</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>