<div id="home-content">
    <!-------------------------- banner + emergency request form ------------------------->
    <section class="banner-top">
        <div class="content row justify-content-between ">
            <div class="col-4 card mt-5 py-3">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">نام</label>
                            <input type="text" class="form-control" id="name" placeholder="نام">
                        </div>
                        <div class="form-group">
                            <label for="phone">شماره تماس</label>
                            <input type="number" class="form-control" id="phone" placeholder="شماره تماس">
                        </div>
                        <div class="form-group">
                            <label for="email">ایمبل</label>
                            <input type="emial" class="form-control" id="email" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <label for="address">آدرس</label>
                            <input type="text" class="form-control" id="address" placeholder="آدرس">
                        </div>
                        <div class="form-group">
                            <label for="comment">درخواست</label>
                            <textarea type="text" class="form-control" id="comment" placeholder="درخواست" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning btn-block btn-lg mt-5">ارسال درخواست</button>
                    </form>
                </div>
            </div>
            <div class="banner-top-text col-6 d-flex justify-content-center align-items-center">
                <p class="display-4 fw-bold text-center">
                    خدمات خود را به ما بسپارید
                </p>
            </div>
        </div>
    </section>
    
    <!-------------------------- showcase services --------------------------------------->
    <section class="services">
        <div class="content">
            <h3 class="text-center">خدمات ما</h3>
            <div class="d-flex flex-column justify-content-center align-items-center py-2">
                <img src="./../../assets/images/about-zigzag-20-2.png" alt="#">
                <p class="py-3">
                    ارائه انواع خدمات تعمیرانی 
                </p>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-4 row px-4">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-plug"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">خدمات الکتریکی</p>
                        <p>متخصصان ما پس از عیب یابی در سیستم الکتریکی، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>

                <div class="col-4 row px-4">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">خدمات لوله کشی</p>
                        <p>متخصصان ما پس از عیب یابی در سیستم لوله کشی، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>

                <div class="col-4 row px-4">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-paint-brush"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">خدمات نقاشی</p>
                        <p>متخصصان ما پس از عیب یابی در سیستم الکتریکی، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>

                <div class="col-4 row px-4 py-5">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-home"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">خدمات گرمایشی</p>
                        <p>متخصصان ما پس از عیب یابی در سیستم گرمایشی، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>

                <div class="col-4 row px-4 py-5">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-tree"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">خدمات باغبانی</p>
                        <p>متخصصان ما پس از عیب یابی در سیستم باغبانی، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>

                <div class="col-4 row px-4 py-5">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <a href="#" class="services-item-icon">
                            <i class="fa fa-home"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="services-item-title">تعمیرات منزل</p>
                        <p>متخصصان ما پس از عیب یابی در منزل، اقدام به رفع آن، با به روز ترین تجهیزات مینمایند.</p>
                        <a href="#" class="text-decoration-none">جزئیات بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-------------------------- statistics ---------------------------------------------->
    <section class="statistics">
        <div class="row content">
            <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                <div class="statistics-item-icon mb-5 mt-3">
                    <i class="fa fa-users"></i>
                </div>
                <div class="statistics-item-text">
                    <p class="display-4 text-center mb-0">25</p>
                    <p class="display-5 text-center">تعمیرکار</p>
                </div>
            </div>

            <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                <div class="statistics-item-icon mb-5 mt-3">
                    <i class="fa fa-wrench"></i>
                </div>
                <div class="statistics-item-text">
                    <p class="display-4 text-center mb-0">46</p>
                    <p class="display-5 text-center">نوع خدمات</p>
                </div>
            </div>

            <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                <div class="statistics-item-icon mb-5 mt-3">
                    <i class="fa fa-home"></i>
                </div>
                <div class="statistics-item-text">
                    <p class="display-4 text-center mb-0">301</p>
                    <p class="display-5 text-center">پروژه</p>
                </div>
            </div>

            <div class="col-3 d-flex flex-column align-items-center justify-content-center">
                <div class="statistics-item-icon mb-5 mt-3">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="statistics-item-text">
                    <p class="display-4 text-center mb-0">200</p>
                    <p class="display-5 text-center">رضایت مشتری</p>
                </div>
            </div>
        </div>
    </section>

    <!-------------------------- about us ------------------------------------------------>
    <section class="about">
        <div class="content">
            <h3 class="text-center">درباره ما</h3>
            <div class="d-flex flex-column justify-content-center align-items-center py-2">
                <img src="./../../assets/images/about-zigzag-20-2.png" alt="#">
            </div>
            <div class="row d-flex justify-content-between mt-5">
                <div class="col-6">
                    <div class="p-5">
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                            <ngb-panel id="aboutCompany" title="درباره ما">
                                <ng-template ngbPanelContent>
                                    مجموعه خوش دس، یک مجموعه ارائه دهنده انواع خدمات حرفه ای تعمیر و نگهداری منازل و مجموعه               
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ourMission" title="ماموریت ما">
                                <ng-template ngbPanelContent>
                                    مجموعه خوش دس، یک مجموعه ارائه دهنده انواع خدمات حرفه ای تعمیر و نگهداری منازل و مجموعه               
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ourVision" title="چشم انداز ما">
                                <ng-template ngbPanelContent>
                                    مجموعه خوش دس، یک مجموعه ارائه دهنده انواع خدمات حرفه ای تعمیر و نگهداری منازل و مجموعه               
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ourGoal" title="هدف ما">
                                <ng-template ngbPanelContent>
                                    مجموعه خوش دس، یک مجموعه ارائه دهنده انواع خدمات حرفه ای تعمیر و نگهداری منازل و مجموعه               
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="col-6">
                        <div class="p-5">
                            <i class="fa fa-clock-o"></i>
                            <p class="about-item-title">ارائه خدمات شبانه روزی</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-5">
                            <i class="fa fa-certificate"></i>
                            <p class="about-item-title">نیروهای متخصص</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-5">
                            <i class="fa fa-money"></i>
                            <p class="about-item-title">قیمت مناسب</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-5">
                            <i class="fa fa-percent"></i>
                            <p class="about-item-title">تخفیف های ویژه</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
</div>